.row__title{
    color: #53646f;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
  }

  .table__th {
    color: #9eabb4;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
   cursor: pointer;
    border:0 !important;
  padding: 15px 8px !important;
}

.table-row {
    border-bottom: 1px solid #e4e9ea;
  background-color: #fff;
}
.table__th:hover {
    color: #01b9d1;
}

.table-row__td {
    padding: 12px 8px !important;
    vertical-align: middle !important;
    color: #53646f;
    font-size: 13px;
    font-weight: 400;
  position:relative;
    line-height: 18px !important;
  border:0 !important;
}

.table-row__img {
    width: 36px;
    height: 36px;
    display: inline-block;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   vertical-align: middle;
}

.table-row__info {
    display: inline-block;
    padding-left: 12px;
  vertical-align: middle;
}

.table-row__name {
    color: #53646f;
    font-size: 14px;
    font-weight: 400;
  line-height: 18px;
    margin-bottom: 0px;
}

.table-row__small {
    color: #9eabb4;
    font-weight: 300;
    font-size: 12px;
}